@use "../../variables" as var;
@use "../../mixins/utils";

.autocomplete-list {
  position: relative;
  &.is-hidden {
    display: none;
  }
}

.autocomplete-list__items {
  @include utils.shadow;
  @supports (clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%)) {
    &:before {
      /**
       * Creates a small outlined triangle above the drop down menu
       * that works nicely with a box-shadow and the dark/light themes.
       */
      background-color: inherit;
      border: inherit;
      border-top-left-radius: 0.125rem;
      clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
      content: '';
      display: inline-block;
      height: 0.5rem;
      left: 0.5rem;
      position: absolute;
      top: -0.3125rem;
      transform: rotate(45deg);
      width: 0.5rem;
    }
  }
  position: absolute;
  top: 5px;
  max-width: 100%;
  min-width: 10em;
  background-color: var.$white;
  border: 1px solid var.$grey-3;
  z-index: 10;

  @media (pointer: coarse) {
    line-height: var.$touch-target-size;
  }
}

.autocomplete-list__li {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;

  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li1 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #000000;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li2 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #000075;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li3 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #3cb44b;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li4 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #e6194B;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li5 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #f58231;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li6 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #4363d8;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li7 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #911eb4;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}


.autocomplete-list__li8 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #9A6324;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li9 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #FF69B4;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li10 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #778899;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li11 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #FA8072;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li12 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #6495ED;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li13 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #7FFF00;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li14 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #D2691E;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li15 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #8FBC8F;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}

.autocomplete-list__li16 {
  padding: 0.25em 1.5em 0.25em 1em;
  border-left: 4px transparent solid;
  color: #2F4F4F;
  
  &.is-selected {
    border-left: 4px var.$color-brand solid;
    background-color: var.$grey-1;
  }
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }
}


/* Dark theme */

@media screen and (prefers-color-scheme: dark) {
  .autocomplete-list__items {
    list-style: none;
    padding: 0;
    color: var.$white;
    background-color: var.$grey-6;
  }
  .autocomplete-list__arrow-down {
    border-bottom: 7px solid var.$grey-6;
  }
  .autocomplete-list__li {
    &.is-selected {
      background-color: var.$grey-mid;
    }
    &:hover {
      background-color: var.$grey-5;
    }
  }
}
